- 작성자: 성신여자대학교 서비스디자인공학과 18학번 박수연(Github: @gottgam)
- 이 코드는 수업 과제로 제출한 것이므로 무분별한 복사, 응용, 도용을 금합니다.

# 1. 
'키워드 전용 인수' 개념을 이해하고 예를 들어 설명하시오. '매개변수에 * 사용하기' 부분의 print_data 함수에서 *가 있는 경우와 없는 경우의 차이점을 설명하시오.

키워드 전용 인수를 이해하기 위해 위치 인수와 키워드 인수에 대한 개념부터 다시 정확히 짚고 넘어갈 필요가 있다.  

1. __위치 인수(Positional Arguments)__
- 위치를 신경써야 하는 패러미터다. 흔히 아는 '그' 패러미터가 맞다.
```python
def companys(usa, finland, korea):
    return {'USA': usa, 'Finland':finland, 'S.Korea':korea}
companys('Apple', 'Spotify', 'Samsung')
```
각 나라마다의 기업을 출력해야 하는 상황이다. 패러미터 패싱이 이루어질 때 Spotify와 Samsung의 위치를 바꾼다면 핀란드의 기업이 삼성이 되고, 한국 기업이 스포티파이가 될 것이다.  
이는 잘못된 결과다.  

2. __키워드 인수(Keyword Arguments)__
- 위치에 따른 혼선을 피하기 위해 함수 자체에서 패러미터의 값을 정할 수 있다.
```python
def interest(name, money, year = 1, rate = 2.1):
    print(name)
    print(year)
    return money * rate
interest('Jake', 10000.00)
# 모두에게 공통적인 거치 기간과 이자율을 굳이 명시해 주지 않아도 알아서 계산해 주는 편리함.
```
- 여기서 주의할 점은, 위치 인수가 먼저 순서에 맞춰 나온 후에 키워드 인수를 붙여 줘야 한다는 것이다.

In [38]:
# 1. 위치 인수 예시

def companys(usa, finland, korea):
    return {'USA': usa, 'Finland':finland, 'S.Korea':korea}

companys('Apple', 'Spotify', 'Samsung')
# 나라별로 대기업의 이름이 잘 짜맞춰져서 나온다.

{'Finland': 'Spotify', 'S.Korea': 'Samsung', 'USA': 'Apple'}

In [39]:
def companys(usa, finland, korea):
    return {'USA': usa, 'Finland':finland, 'S.Korea':korea}

companys('Apple', 'Samsung', 'Spotify')
# 잘못된 결과. 스포티파이는 한국 기업이 아니다.

{'Finland': 'Samsung', 'S.Korea': 'Spotify', 'USA': 'Apple'}

In [40]:
# 2. 키워드 인수 예시

def interest(name, money, year = 1, rate = 2.1):
    print(name)
    print(year)
    return money * rate
interest('Jake', 10000.00)

Jake
1

21000.0

In [41]:
def interest(name, money, year = 1, rate = 2.1):
    print(name)
    print(year)
    return money * rate
print(interest('Jake', 10000.00, rate = 3.1, year = 2))
# 호출할 때 패러미터의 이름을 사용해서 값을 전달해 줄 수 있다. 그것이 키워드 인수의 역할이다.

Jake
2
31000.0

In [42]:
# code 1.0
def interest(name, money, year = 1, rate = 2.1):
    print(name)
    print(year)
    return money * rate
print(interest('Jake', 10000.00, 2, 3.1)) # *주목! 순서만 지켜준다면 키워드 이름을 명시하지 않고도 사용이 가능하다.

Jake
2
31000.0

In [43]:
# 순서를 바꿔서 패싱하고 싶을 때는 모든 키워드 인수에 원하는 값을 써야 한다.
print(interest('Blanka', 10000.00, rate = 3.1, 2)) # 2가 year의 것이라는 것을 말하지 않아서 에러.

SyntaxError: ignored

In [44]:
def interest(year = 1, rate = 2.1, name, money): # 위치 인자가 먼저 나오지 않았으므로 오류 발생.
    print(name)
    print(year)
    return money * rate
interest('Jake', 10000.00)

SyntaxError: ignored

3. __키워드 전용 인수(Keyword-Only Arguments)__  
- 말 그대로 '키워드로만 사용할 수 있다'는 뜻이다.
- (교재의 원문) It's possible to pass in a keyword argument that has the same name as a positional parameter, probably not resulting in what you want.
- 번역하면 이 뜻이다: 함수를 호출할 때, 함수 정의부에 있는 '위치 패러미터'와 같은 이름을 가진 키워드 인자를 사용하면 기대한 결과가 나오지 않을 수 있다.    
- (출처의 원문) These are only specifiable via the name of the argument, and cannot be specified as a positional argument.
- 번역하면 이 뜻이다: 키워드 전용 인수는 인수명을 사용하여 값을 정할 수 있지만 '위치 인수처럼' 값을 지정할 수는 없다.  

*정말 그럴까?*

In [45]:
def prices(gadgets, price, *, VAT = 0.1):
  print(gadgets)
  return price + (price * VAT)

print(prices('iPhone 12', price = 999)) # valid
print(prices('iPhone 12 Pro', 1099)) # valid

iPhone 12
1098.9
iPhone 12 Pro
1208.9

`*`는 '가변 위치 인수'라고 부른다. 가변 위치 인수 뒤의 것들은 모두 키워드 전용이 된다.  
이는 말미암아 `*` 앞의 인수들은 위치 인수라는 뜻이 되지만 뒤의 것들은 키워드 인수로만 사용할 수 있다는 뜻으로 해석할 수 있다.

In [46]:
def prices(gadgets, price, *, VAT = 0.1): # 부가가치세는 키워드 전용 인수가 되었다.
  print(gadgets)
  return price + (price * VAT)

print(prices('iPhone 12', 999, VAT = 0.01)) # 가능하다.

iPhone 12
1008.99

In [47]:
# code 1.1
def prices(gadgets, price, *, VAT = 0.1):
  print(gadgets)
  return price + (price * VAT)

print(prices('iPhone 12', 999, 0.01)) # invalid

TypeError: ignored

*왜 불가능할까?* '키워드 전용'이기 때문이다.  
위로 스크롤해 `code 1.0`을 참고하시라. 저들은 키워드 인수이기는 하지만 키워드 '전용'은 아니다. 따라서 위치 인수처럼, 순서를 잘 지키며 값만 넣어주면 알아서 작동해 우리가 원하는 결과를 리턴/출력한다.  
하지만 `code 1.1`의 VAT는 *키워드 '전용'*이다. 프로그래머가 아무리 순서를 잘 지켜 준다고 해도, 올바른 값을 넣어준다 한들, 무조건 `'패러미터 이름' = 값`의 형태를 지켜야 한다.



궁금증 해결!

# 2. 교재 연습문제 9.2번
Define a generator function called `get_odds()` that returns the odd numbers from `range(10)`. Use a for loop to find and print the third value returned.

In [48]:
def get_odds():
  for i in range(10):
    if (i % 2 == 1):
      yield i

n = 0
ranger = get_odds()
for x in ranger:
  if (n == 2):
    print(x)
  n += 1

5

#3. 교재 연습문제 9.3번
Define a decorator called test that prints `'start'` when a function is called, and `'end'` when it finishes.

In [49]:
def teller(func):
  def new_function(*args, **kwargs):
    print('start')
    result = func(*args, **kwargs)
    print(result)
    print('end')
  return new_function

@teller
def speaker(a, b):
  return a + b

speaker('I\'m', ' talking.')

start
I'm talking.
end